In [ ]:
# Reading different data sources with help of Pandas

In [5]:
from io import StringIO

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('mercedesbenz.csv')

In [10]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df = pd.read_csv('mercedesbenz.csv',usecols=['X0','X1','X3','X4','X5'])
df.head()

   X0 X1 X3 X4 X5
0   k  v  a  d  u
1   k  t  e  d  y
2  az  w  c  d  x
3  az  t  f  d  x
4  az  v  f  d  h

In [16]:
df.to_csv('test.csv') #saved the data in to new csv file
df.head()

   X0 X1 X3 X4 X5
0   k  v  a  d  u
1   k  t  e  d  y
2  az  w  c  d  x
3  az  t  f  d  x
4  az  v  f  d  h

In [18]:
df.to_csv('test.csv',index=False)
df.head()

   X0 X1 X3 X4 X5
0   k  v  a  d  u
1   k  t  e  d  y
2  az  w  c  d  x
3  az  t  f  d  x
4  az  v  f  d  h

In [ ]:
# datatypes in csv
data = ('a,b,c,d\n'
        '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [31]:
df=pd.read_csv(StringIO(data))
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [32]:
df=pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':int})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 228.0 bytes

In [35]:
# use index cols and usecols
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [36]:
pd.read_csv(StringIO(data)

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [47]:
pd.read_csv(StringIO(data),usecols=['a','b','c'])

        a    b     c
0   apple  bat   5.7
1  orange  cow  10.0

In [48]:
pd.read_csv(StringIO(data),usecols=['a','b','c'],index_col=0)

          b     c
a
apple   bat   5.7
orange  cow  10.0

In [55]:
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

HTTPError: HTTP Error 403: Forbidden